---
import Layout from "@layouts/main.astro";
import type { GetStaticPaths } from "astro";
import Button from "@components/button.astro";
import PageHeading from "@components/page-heading.astro";
import { sanity } from "sanityClient";

export const getStaticPaths = (async () => {
  // 1. Solo obtenemos los slugs para generar las páginas
  const posts = await sanity.fetch(`*[_type == "post"]{ "slug": slug }`);

  return posts.map(({ slug }) => ({
    params: { slug: slug },
  }));
}) satisfies GetStaticPaths;

// 2. Obtenemos el slug de los parámetros de la URL
const { slug } = Astro.params;

// 3. Hacemos una nueva petición para obtener los datos de ESTA página en específico
const project = await sanity.fetch(
  `*[_type == "post" && slug == $slug][0]{
  "name": title,
  description,
  content,
  image {
    asset->{
      url
    }
  },
  tags,
  slug,
  url,
}`,
  { slug } // Pasamos el slug como parámetro de forma segura
);

// 4. Si no se encuentra el proyecto, redirigimos a una página 404
if (!project) return Astro.redirect("/404");
---

<Layout title={project.name}>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading title={project.name} description={project.description} />

    <img
      src={project.image.asset.url}
      class="relative z-30 w-full my-10 rounded-xl"
    />

    {   
      project.tags.map((tag) => {
        return (
        <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 mx-1 mb-5 text-xs font-medium text-gray-600 ring-1 ring-gray-500/10 ring-inset">
          {tag}
        </span>
        );
      })      
    }

    <p>
      {project.content}
    </p>

    <div class="flex items-center justify-center w-full py-5">
      {
        project.url && (
          <Button text={`Ver ${project.name}`} link={project.url} />
        )
      }
    </div>
  </section>
</Layout>
