---
import experiences from "@collections/experiences.json";
import AboutExperience from "@components/about-experience.astro";
import PageHeading from "@components/page-heading.astro";
import Layout from "@layouts/main.astro";
---

<Layout title="Acerca de mí">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="Acerca de mí"
      description="Hola 👋 Soy un ingeniero frontend de Lima, Perú. Me apasiona crear nuevos productos y aprender nuevas tecnologías."
    />

    <img src="/assets/images/about.jpg" class="relative z-30 w-full my-10 rounded-xl" />

    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Short Bio</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
    Apasionado por la creación de aplicaciones móviles que combinan rendimiento, usabilidad e innovación. Con más de 10 años de experiencia en desarrollo, me especializo en Flutter y he trabajado en proyectos para diversas industrias, como seguros, bienestar animal y finanzas. Entre mis desarrollos destacan Mi Espacio Pacífico para Pacífico Seguros, la app Proypet para la gestión de cuidados de mascotas y una aplicación de cálculo de préstamos hipotecarios. Me motiva enfrentar nuevos retos, aprender tecnologías emergentes y seguir creando soluciones que marquen la diferencia.
    </p>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experiencia
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience) => {
          return (
            <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            </div>
          )
        })
      }
    </div>

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">Let's Connect</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Si desea mantenerse actualizado con mi trabajo, <a
        href="https://www.linkedin.com/in/alonsomassa/"
        target="_blank"
        class="text-indigo-600 underline">sígueme en LinkedIn</a
      >, o puede enviarme un <a href="mailto:joalmr@gmail.com" class="text-indigo-600 underline"
        >email</a
      > y me aseguraré de comunicarme con usted.
    </p>
  </section>
</Layout>
