---
import experiences from "@collections/experiences.json";
import AboutExperience from "@components/about-experience.astro";
import PageHeading from "@components/page-heading.astro";
import Layout from "@layouts/main.astro";
import { getAbout } from "src/lib/strapi";

import markdownit from "markdown-it";
const md = markdownit();

const {data} = await getAbout();
// console.log("about", data);
const {title,description,blocks,Experiences,Seo} = data;
const {body} = blocks.at(1);


const result = md.render(body);

---

<Layout title={title}>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title={title}
      description={description}
    />

    <img src="/assets/images/about.webp" class="relative z-30 w-full my-10 rounded-xl" />

    <div class="mk_load" set:html={result} />
    
    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experiencia
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience) => {
          return (
            <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            </div>
          )
        })
      }
    </div>

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">Let's Connect</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Si desea mantenerse actualizado con mi trabajo, <a
        href="https://www.linkedin.com/in/alonsomassa/"
        target="_blank"
        class="text-indigo-600 underline">sígueme en LinkedIn</a
      >, o puede enviarme un <a href="mailto:joalmr@gmail.com" class="text-indigo-600 underline"
        >email</a
      > y me aseguraré de comunicarme con usted.
    </p>
  </section>
</Layout>

<script>
    document.addEventListener("astro:page-load", () => {
      // console.log('page load');  
      const mk_h2 = document.querySelector('.mk_load>h2') as HTMLElement;
      const mk_p = document.querySelector('.mk_load>p') as HTMLElement;
      
      
      mk_h2.className = `mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200`;
      mk_p.className = `text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg`;
  })
</script>

